[submodule "auth/api/thirdparty/line-login"]
	path = auth/api/thirdparty/line-login
	url = git@github.com:ochanoco/line-login.git
[submodule "api/thirdparty/line-login"]
	path = api/thirdparty/line-login
	url = git@github.com:ochanoco/line-login.git
